.main-window {
  border: 2px solid blue;
  height: 60px;
  width: 200px;
}

p {
  text-align: center;
}

#timer {
  background-color: bisque;
  height: 30px;
  margin: 0;
}

#mode {
  background-color: lightgreen;
  height: 30px;
  margin: 0
  ;
}

button {
  margin-top: .5em;
  width: 32%;
}